body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #121212;
    color: white;
    height: 130vh;
    margin: 0;
    display: flex;
}

.container {
    background-color: #1e1e1e;
    width: 350px;
    height: 550px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0;

    background-color: #121212;
}